---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
	:root {
		--accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);
	}
	html {
		font-family: system-ui, sans-serif;
		background: #13151a;
		background-size: 224px;
		color-scheme: light dark;
	}
	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}

	.chat-container {
  display: flex;
  flex-direction: column;
  height: 69vh;
}

#chat {
  flex-grow: 1;
  display: flex;
  flex-direction: column-reverse;
  overflow-y: auto; 
  height: 85vh;
}
    
#messageForm {
  width: 100%;
  height: 15vh;
}

#chat p {
  width: 70%;
  margin: 10px;
  padding: 5px;
  border-radius: 5px;
}

  /* Estilo para mensajes del usuario actual (derecha) */
  #chat .me {
    margin-left: auto;
    background-color: #4861d1;
    color: #ffffff;
    text-align: right; /* Alinea el texto a la derecha */
  }

  /* Estilo para mensajes de otros usuarios (izquierda) */
  #chat .them {
    margin-right: auto;
    background-color: #67acec;
    color: #ffffff;
    text-align: left; /* Alinea el texto a la izquierda */
  }

  .form-full-width {
  width: 100%;
}

/* Establece el ancho del formulario cuando el sidebar esté visible */
.sidebar-visible .form-full-width {
  width: auto;
}

</style>
